html {
	background-color: #410818;
}

.ajax-content {
	width: 432px;
	height: 200px;
	
	padding: 10px;
	
	background-color: #410818;
	
	color: #fac6d5;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.80em;
}

.ajax-content p {
	padding-top: 5px;
}

h1 {
	margin-top: -15px;
	padding-bottom: 5px;
	
	color: #410818;
}

h2 {
	margin-top: -3px;
	padding: 0;
	padding-bottom: 4px;
	
	border-bottom: 1px solid #68132b;
	
	color: #932343;
	font-size: 1em;
}

p {
	margin: 0;
	margin-top: -10px;
	padding: 0;
	
	text-align: justify;
}

.description {
	padding: 0 0 15px 15px;
}
